.checkoutProduct{
    display:flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(160, 160, 160, 0.2), 0 6px 20px 0 rgba(138, 138, 138, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.checkoutProduct__image:hover{
    -ms-transform: scale(1.2);
    /*IE9*/-webkit-transform: scale(1.2);
    /*Safari3-8*/transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    box-shadow: 0 4px 8px 0 rgba(160, 160, 160, 0.9), 0 6px 20px 0 rgba(138, 138, 138, 0.3);

}

.checkoutProduct__rating{
    display:flex;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}