.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: rgb(68, 68, 68);
    border-radius: 20px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(160, 160, 160, 0.5), 0 6px 20px 0 rgba(138, 138, 138, 0.5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.subtotal:hover{
    -ms-transform: scale(1.1);
    /*IE9*/-webkit-transform: scale(1.1);
    /*Safari3-8*/transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(160, 160, 160, 0.9), 0 6px 20px 0 rgba(138, 138, 138, 0.3);

}

.subtotal__gift{
    display: flex;
    align-items: center;
}

.subtotal__gift > input {
    margin-right: 5px;
}

.button{
    margin-top: 5px;
    margin-bottom: 5px;
}

