.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 150px;
    background-color: #dddddd;
    border: 1px solid #3f3f3f;
    border-radius: 3px;
}

.subtotal__gift{
    display: flex;
    align-items: center;
}

.subtotal__gift > input {
    margin-right: 5px;
}

.button{
    margin-top: 5px;
}

